*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
.header{
    background: #291f8a;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .logo{
    font-size: 22px;
    font-weight: 700;
}
.navbar .nav-lists .nav-list{
    list-style: none;
    display: inline;
    /* background: chartreuse; */
    padding: 10px 20px;
}
.navbar .nav-lists .nav-list:hover{
    cursor: pointer;
    background: #d3dcfb;
    border-radius: 4px;
    color: #222;
}
.banner{
    background:linear-gradient(90deg, rgba(39, 103, 146, 0.5), rgba(44, 18, 192, 0.5)), url(images/bg.jpg);
    height: 91.5vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner h2{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}